<div>
  <% @students.each do |student| %>
  <%binding.pry%>
    <div><%= student.to_s %></div>
    <!-- <a href= '<%=student_path(student)%>'>see this student</a> -->
    <%= link_to student.first_name student_path(student) %>
  <% end %>
</div>
